@model MeetingsGridViewModel

<div class="row">
    @if (Model.Data.Any())
    {
        <div class="col-12">
            <div class="table-responsive table-wrap">
                <table class="table">
                    <thead>
                        <tr>
                            <th>@Localizer["Admin_Subject"]</th>
                            <th>@Localizer["Admin_MeetingDate"]</th>
                            <th>@Localizer["Admin_UserName"]</th>
                            <th>@Localizer["Admin_UserEmail"]</th>
                            <th>@Localizer["Admin_MentorName"]</th>
                            <th>@Localizer["Admin_MentorEmail"]</th>
                            <th>@Localizer["Admin_IsConfirmed"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var meeting in Model.Data)
                        {
                            <tr>
                                <td>@meeting.Subject</td>
                                <td>@meeting.MeetingDate.ToDayMonthYearNumbersOnly()</td>
                                <td>@meeting.User?.FirstName @meeting.User?.LastName</td>
                                <td>@meeting.User?.Email</td>
                                <td>@meeting.Mentor?.FirstName @meeting.Mentor?.LastName</td>
                                <td>@meeting.Mentor?.Email</td>
                                <td>
                                    <span class="fa fa-@(meeting.MeetingDate != null ? "check" : "xmark")"></span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            @if (Model.PagesCount > 1)
            {
                <div class="pagination-wrap">
                    <nav>
                        <ul class="pagination">
                            <li class="page-item @(Model.Filter.Page == 1 ? "disabled" : "")">
                                <a data-page="prev" class="page-link @(Model.Filter.Page == 1 ? "bg-gray1" : "")"
                                   asp-controller="Admin"
                                   asp-action="@nameof(AdminController.GetMeetings)"
                                   asp-route-showUnconfirmed="@Model.Filter.ShowUnconfirmed"
                                   asp-route-page="@Model.PreviousPage"
                                   asp-route-pageSize="@Model.Filter.PageSize">
                                    @Localizer["Reports_PaginationPrevious"]
                                </a>
                            </li>

                            @for (int pageIndex = 1; pageIndex <= Model.PagesCount; pageIndex++)
                            {
                                <li class="page-item @(pageIndex == Model.Filter.Page ? "active" : "")">
                                    <a data-page="@(pageIndex)" class="page-link"
                                       asp-controller="Admin"
                                       asp-action="@nameof(AdminController.GetMeetings)"
                                       asp-route-showUnconfirmed="@Model.Filter.ShowUnconfirmed"
                                       asp-route-page="@pageIndex"
                                       asp-route-pageSize="@Model.Filter.PageSize">
                                        @pageIndex
                                    </a>
                                </li>
                            }

                            <li class="page-item @(Model.Filter.Page >= Model.PagesCount ? "disabled" : "")">
                                <a data-page="next" class="page-link @(Model.Filter.Page >= Model.PagesCount ? "bg-gray1" : "")"
                                   asp-controller="Admin"
                                   asp-action="@nameof(AdminController.GetMeetings)"
                                   asp-route-showUnconfirmed="@Model.Filter.ShowUnconfirmed"
                                   asp-route-page="@Model.NextPage"
                                   asp-route-pageSize="@Model.Filter.PageSize">
                                    @Localizer["Reports_PaginationNext"]
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            }
        </div>
    }
    else
    {
        <p>@Localizer["Admin_NoMeetings"]</p>
    }
</div>