@model UserStatisticsViewModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

<div class="user-card @(Model.User.IsActive ? "bg-green2" : "bg-gray1") p-5 h-100 position-relative">
    <div class="user-image-box mb-3 ">
        @if (Model.User.ProfilePicturePath != null)
        {
            <img src="~/profile-pictures/@Model.User.ProfilePicturePath" alt="user image">
        }
        else
        {
            <img src="~/profile-pictures/@Configuration["DefaultProfilePicture"]" alt="user image">
        }
    </div>
    <div class="user-info">
        <p><span>@Localizer["Admin_Name"] </span><span class="fw-bold">@Model.User.FirstName @Model.User.LastName</span></p>
        <p><span>@Localizer["Admin_Email"] </span><span class="fw-bold">@Model.User.Email</span></p>
        <p><span>@Localizer["Admin_PhoneNumber"] </span><span class="fw-bold">@Model.User.PhoneNumber</span></p>
    </div>
    <hr class="bg-danger border-2 border-top border-dark">
    @if (await UserManager.IsInRoleAsync(Model.User, Roles.Mentor.ToString()))
    {
        <p><span>@Localizer["Admin_MeetingsBooked"] </span><span class="fw-bold">@Model.NumberOfMeetingsBooked</span></p>
        <p><span>@Localizer["Admin_CountOfRatings"] </span><span class="fw-bold">@Model.NumberOfRatings</span></p>
        <p style="margin-bottom: 6rem"><span>@Localizer["Admin_AverageRating"] </span><span class="fw-bold">@Model.AverageRating</span></p>
    }
    else
    {
        <p style="margin-bottom: 6rem"><span>@Localizer["Admin_MeetingsBooked"] </span><span class="fw-bold">@Model.NumberOfMeetingsBooked</span></p>
    }
    <form id="user-form-@Model.User.Id" class="position-absolute" style="bottom: 3rem">
        <button class="btn"
                data-ajax-action="@Url.Action(nameof(AdminController.ToggleAccountStatus), "Admin", new { userId = Model.User.Id })"
                data-ajax-method="POST"
                data-ajax-source="#user-form-@Model.User.Id"
                data-ajax-target="#user-card-@Model.User.Id">
            @(Model.User.IsActive ? Localizer["Admin_DeactivateAccount"] : Localizer["Admin_ActivateAccount"])
        </button>
    </form>
</div>