@model UsersGridViewModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

<div class="users-card-wrap">
    <div class="row flex-wrap">
        @if (Model.Data != null)
        {
            foreach (var userCard in Model.Data)
            {
                if (userCard.User != null)
                {
                    <div id="user-card-@userCard.User.Id" class="col-xl-6 col-xxl-4 mb-4">
                        <div class="user-card @(userCard.User.IsActive ? "bg-green2" : "bg-gray1") p-5 h-100 position-relative">
                            <div class="user-image-box mb-3 ">
                                @if (userCard.User.ProfilePicturePath != null)
                                {
                                    <img src="~/profile-pictures/@userCard.User.ProfilePicturePath" alt="user image">
                                }
                                else
                                {
                                    <img src="~/profile-pictures/@Configuration["DefaultProfilePicture"]" alt="user image">
                                }
                            </div>
                            <div class="user-info">
                                <p><span>@Localizer["Admin_Name"] </span><span class="fw-bold">@userCard.User.FirstName @userCard.User.LastName</span></p>
                                <p><span>@Localizer["Admin_Email"] </span><span class="fw-bold">@userCard.User.Email</span></p>
                                <p><span>@Localizer["Admin_PhoneNumber"] </span><span class="fw-bold">@userCard.User.PhoneNumber</span></p>
                            </div>
                            <hr class="bg-danger border-2 border-top border-dark">
                            @if (await UserManager.IsInRoleAsync(userCard.User, Roles.Mentor.ToString()))
                            {
                                <p><span>@Localizer["Admin_MeetingsBooked"] </span><span class="fw-bold">@userCard.NumberOfMeetingsBooked</span></p>
                                <p><span>@Localizer["Admin_CountOfRatings"] </span><span class="fw-bold">@userCard.NumberOfRatings</span></p>
                                <p style="margin-bottom: 6rem"><span>@Localizer["Admin_AverageRating"] </span><span class="fw-bold">@userCard.AverageRating</span></p>
                            }
                            else
                            {
                                <p style="margin-bottom: 6rem"><span>@Localizer["Admin_MeetingsBooked"] </span><span class="fw-bold">@userCard.NumberOfMeetingsBooked</span></p>
                            }

                            @* <form id="user-form-@userCard.User.Id" class="position-absolute" style="bottom: 3rem"
                                  asp-controller="Admin" asp-action="@nameof(AdminController.ToggleAccountStatus)">
                                <input name="showDeactivated" value="@Model.Filter.ShowDeactivated" type="hidden" />
                                <input name="page" value="@Model.Filter.Page" type="hidden" />
                                <input name="pageSize" value="@Model.Filter.PageSize" type="hidden" />
                                <input name="userId" value="@userCard.User.Id" type="hidden" />

                                <button class="btn" type="submit">
                                    @(userCard.User.IsActive ? Localizer["Admin_DeactivateAccount"] : Localizer["Admin_ActivateAccount"])
                                </button>
                            </form> *@

                            <a class="btn position-absolute" style="bottom: 3rem"
                               asp-controller="Admin"
                               asp-action="@nameof(AdminController.GetUsers)"
                               asp-route-showDeactivated="@Model.Filter.ShowDeactivated"
                               asp-route-page="@Model.Filter.Page"
                               asp-route-pageSize="@Model.Filter.PageSize"
                               asp-route-userId="@userCard.User.Id">
                                @(userCard.User.IsActive ? Localizer["Admin_DeactivateAccount"] : Localizer["Admin_ActivateAccount"])
                            </a>
                        </div>
                    </div>
                }
            }
        }
    </div>
    @if (Model.PagesCount > 1)
    {
        <div class="pagination-wrap">
            <nav>
                <ul class="pagination">
                    <li class="page-item @(Model.Filter.Page == 1 ? "disabled" : "")">
                        <a class="page-link @(Model.Filter.Page == 1 ? "bg-gray1" : "")"
                           asp-controller="Admin"
                           asp-action="@nameof(AdminController.GetUsers)"
                           asp-route-showDeactivated="@Model.Filter.ShowDeactivated"
                           asp-route-page="@Model.PreviousPage"
                           asp-route-pageSize="@Model.Filter.PageSize">
                            @Localizer["Reports_PaginationPrevious"]
                        </a>
                    </li>

                    @for (int pageIndex = 1; pageIndex <= Model.PagesCount; pageIndex++)
                    {
                        <li class="page-item @(pageIndex == Model.Filter.Page ? "active" : "")">
                            <a class="page-link"
                               asp-controller="Admin"
                               asp-action="@nameof(AdminController.GetUsers)"
                               asp-route-showDeactivated="@Model.Filter.ShowDeactivated"
                               asp-route-page="@pageIndex"
                               asp-route-pageSize="@Model.Filter.PageSize">
                                @pageIndex
                            </a>
                        </li>
                    }

                    <li class="page-item @(Model.Filter.Page >= Model.PagesCount ? "disabled" : "")">
                        <a class="page-link @(Model.Filter.Page >= Model.PagesCount ? "bg-gray1" : "")"
                           asp-controller="Admin"
                           asp-action="@nameof(AdminController.GetUsers)"
                           asp-route-showDeactivated="@Model.Filter.ShowDeactivated"
                           asp-route-page="@Model.NextPage"
                           asp-route-pageSize="@Model.Filter.PageSize">
                            @Localizer["Reports_PaginationNext"]
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    }
</div>