@{
    ViewData["Title"] = Localizer["Help_HelpMenu"];
}

<div class="main-container">
    <div class="main-content-left">
        <div class="page-title-wrap">
            <div class="title-box">
                <h2>@Localizer["Help_HelpMenu"]</h2>
            </div>
        </div>
        <div class="col-xxl-8 col-xl-12">
            <p>@Localizer["Help_Paragrpah1"]</p>
            <p>@Localizer["Help_Paragrpah2"]</p>
            <p>@Localizer["Help_ListLabel"]</p>
            <ul>
                <li class="help-list-options">@Localizer["Help_ListOption1"]</li>
                <li class="help-list-options">@Localizer["Help_ListOption2"]</li>
                <li class="help-list-options">@Localizer["Help_ListOption3"]</li>
            </ul>
        </div>
    </div>
</div>
