@model List<Meeting>

<div class="upcoming-wrap">
    <h3>@Localizer["Dashboard_UpcomingMeetings"]</h3>
    @if (Model?.Any() == true)
    {
        <div class="row">
            @foreach (var meeting in Model)
            {
                <div class="col-xl-6 col-xxl-4">
                    <div class="sch-card-item sch-upcoming-item mb-3">
                        <div class="schedule-date-wrap">
                            <div><span class="sch-current-date">@DateTimeExtensions.ToDayMonth(meeting.MeetingDate)</span></div>
                        </div>
                        <div class="meeting-time">
                            <span>@DateTimeExtensions.ToHourMinute(meeting.MeetingDate) @Localizer["Dashboard_Meeting"]</span>
                        </div>
                        <div class="mentor-name">
                            <span>@Localizer["Dashboard_MeetingWith"] @meeting.Mentor?.FirstName @meeting.Mentor?.LastName</span>
                        </div>
                        <div class="booked-by">
                            <span>@Localizer["Dashboard_MeetingBookedBy"] @meeting.User?.FirstName @meeting.User?.LastName</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>@Localizer["Dashboard_NoUpcomingMeetings"]</p>
    }
</div>