@model ApplicationUser
@inject IMeetingService MeetingService
@{
    var requestsCount = MeetingService.GetPendingMeetings(out int totalRecordsCount)?.Count ?? 0;
}

<div class="main-sidebar">
    <div class="nav-wrap">
        <a href="/">
            <div class="nav-logo-wrap">
                <img src="~/images/inedu-logo.png" />
            </div>
        </a>
        <div class="nav-user-info">
            <div class="user-image-box">
                @if (Model.ProfilePicturePath != null)
                {
                    <img src="~/profile-pictures/@Model.ProfilePicturePath" alt="user image">
                }
                else
                {
                    <img src="~/profile-pictures/@Configuration["DefaultProfilePicture"]" alt="user image">
                }
            </div>
            <div class="nav-acc-details">
                <div class="acc-name">
                    <span>@Model.FirstName @Model.LastName</span>
                </div>
                <div class="acc-email">
                    <span>@Model.Email</span>
                </div>
            </div>
        </div>
        <ul id="sidebar">
            <li>
                <a asp-controller="Dashboard" asp-action="@nameof(DashboardController.Index)">
                    <span class="fa fa-home"></span>
                    <span>@Localizer["Sidebar_Home"]</span>
                </a>
            </li>
            @if (User.IsInRole(nameof(Roles.Teacher)))
            {
                <li>
                    <a asp-controller="Meetings" asp-action="@nameof(MeetingsController.Index)">
                        <span class="fa fa-address-book-o"></span>
                        <span>@Localizer["Sidebar_BookMeeting"]</span>
                    </a>
                </li>
            }
            @if (User.IsInRole(nameof(Roles.Admin)) || User.IsInRole(nameof(Roles.Mentor)))
            {
                <li>
                    <a asp-controller="Meetings" asp-action="@nameof(MeetingsController.MeetingRequests)">
                        <span class="fa fa-address-book-o"></span>
                        <span>
                            @Localizer["Sidebar_Requests"]
                            @if (requestsCount > 0)
                            {
                                <span class="requests-badge bg-green2 requests-badge-@(requestsCount > 9 ? "big" : "small")">@(requestsCount > 99 ? "99+" : @requestsCount)</span>
                            }
                        </span>
                    </a>
                </li>
            }
            <li>
                <a asp-controller="Profile" asp-action="@nameof(ProfileController.Index)">
                    <span class="fa fa-user"></span>
                    <span>@Localizer["Sidebar_Profile"]</span>
                </a>
            </li>
            @if (User.IsInRole(nameof(Roles.Mentor)))
            {
                <li>
                    <a asp-controller="Mentor" asp-action="@nameof(MentorController.ActiveMentors)">
                        <span class="fa fa-users"></span>
                        <span>@Localizer["Sidebar_Mentors"]</span>
                    </a>
                </li>
            }
            @if (User.IsInRole(nameof(Roles.Admin)))
            {
                <li>
                    <a asp-controller="Admin" asp-action="@nameof(AdminController.Users)">
                        <span class="fa fa-users"></span>
                        <span>@Localizer["Sidebar_Users"]</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Admin" asp-action="@nameof(AdminController.Meetings)">
                        <span class="fa fa-address-card-o"></span>
                        <span>@Localizer["Sidebar_Meetings"]</span>
                    </a>
                </li>
            }
            @if (User.IsInRole(nameof(Roles.Admin)) || User.IsInRole(nameof(Roles.Mentor)))
            {
                <li>
                    <a asp-controller="Reports" asp-action="@nameof(ReportsController.Index)">
                        <span class="fa fa-book"></span>
                        <span>@Localizer["Sidebar_Reports"]</span>
                    </a>
                </li>
            }
            <li>
                <a asp-controller="StaticPages" asp-action="@nameof(StaticPagesController.Help)">
                    <span class="fa fa-question"></span>
                    <span>@Localizer["Sidebar_Help"]</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="logout-wrap">
        <a asp-controller="Account" asp-action="@nameof(AccountController.Logout)" title="Logout">
            <span class="icon-switch"></span>
            <span>@Localizer["Logout"]</span>
        </a>
    </div>
</div>