@model string
@{
    ViewData["Title"] = @Localizer["Account_ForgotPassword"];
    Layout = "_LayoutAnonymous";
}

<form class="form-wrap">
    <div class="logo-box">
        <img class="login-inedu-logo" src="~/images/inedu-logo.png" alt="InEdu Logo" />
    </div>

    <h1>@Localizer["Account_ForgotPassword"]</h1>
    <p>@Localizer["Account_ResetPasswordMessage", Model]</p>
    
    <a asp-controller="Account" asp-action="@nameof(AccountController.Login)" class="btn login-btn mt-2">@Localizer["Account_BackToLogin"]</a>
</form>