@model string
@{
    ViewData["Title"] = @Localizer["Account_Register"];
    Layout = "_LayoutAnonymous";
}

<form class="form-wrap">
    <div class="logo-box">
        <img class="login-OCP-logo" src="~/images/OCP-logo.png" alt="OCP Logo" />
    </div>

    <p>@Localizer["Account_SuccessfulRegister"]</p>

    <p>@Localizer["Account_FollowInstructions", Model]</p>

    <a asp-controller="Account" asp-action="@nameof(AccountController.Login)" class="btn login-btn">@Localizer["Account_Login"]</a>
</form>