@model ResetPasswordViewModel
@{
    ViewData["Title"] = @Localizer["Account_ResetPassword"];
    Layout = "_LayoutAnonymous";
}

<form asp-action="@nameof(AccountController.ResetPassword)" class="form-wrap">

    <div class="logo-box">
        <img class="login-OCP-logo" src="~/images/OCP-logo.png" alt="OCP Logo" />
    </div>

    <div class="form-title">
        <h3 class="sub-title">@Localizer["Account_ResetPassword"]</h3>
    </div>
    
    @if (ViewBag.Errors != null)
    {
        <div class="mb-4">
            @foreach (var error in ViewBag.Errors)
            {
                <span class="text-danger">@error</span>

                <br />
            }
        </div>
    }

    <div class="input-box">
        <label asp-for="Password" class="text-left">@Localizer["Account_Password"]</label>
        <input asp-for="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="input-box">
        <label asp-for="ConfirmPassword" class="text-left">@Localizer["Account_ConfirmPassword"]</label>
        <input asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="Email" />
    <input type="hidden" asp-for="Token" />
    <input type="hidden" asp-for="ReturnUrl" />

    <input type="submit" value="@Localizer["Account_Reset"]" class="btn login-btn" />
</form>