@model ApplicationUser
@{
    var today = DateTime.Now;
}

<div class="main-content-right hide-on-mobile">
    <div class="person-info">
        <div class="user-image-box">
            @if (Model.ProfilePicturePath != null)
            {
                <img src="~/profile-pictures/@Model.ProfilePicturePath" alt="user image">
            }
            else
            {
                <img src="~/profile-pictures/@Configuration["DefaultProfilePicture"]" alt="user image">
            }
        </div>
        <div class="person-name">
            <span>@Model.FirstName @Model.LastName</span>
        </div>
        <div class="person-email">
            <span>@Model.Email</span>
        </div>

        @if (User.IsInRole(nameof(Roles.Admin)))
        {
            <div class="person-role">
                <span>@Localizer["Admin_Admin"]</span>
            </div>
        }
        <div class="date-wrap">
            <span class="today-text">@Localizer["Dashboard_Today"], </span>
            <span class="week-day">@DateFormatService.ToDayOfWeek(today)</span>
            <span class="current-day">@today.Day</span>
        </div>
    </div>
</div>